<html>
    {{> header}}
    <body>
        <div id="main-wrapper">
            <div id="main" class="container small">
                <div id="content">
                    {{#articles}}
                        <article class="box post" style="white-space: pre-wrap;">
                            <header>
                                <h2>{{title}}</h2>
                            </header>

                            {{{preview}}}

                            <ul class="actions">
                                <li><a href="/rs/articles/{{resource}}" class="button icon fa-file">Continue Reading</a></li>
                            </ul>
                        </article>
                    {{/articles}}
                </div>
            </div>
        </div>
    </body>
    {{> footer}}
</html>