<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    {{> header}}
    <body>

        <div id="main-wrapper">
            <div id="main" class="container small">
                <div id="content">
                    <!-- Post -->
                    <article class="box post" style="white-space: pre-wrap;">
                        <header>
                            <h2>{{title}}</h2>
                        </header>

                        {{{content.content}}}
                    </article>

                    <br/>

                    <h3><i><p align="left">Artigo publicado em: {{brazilianDateFormat}}</p></i></h3>
                </div>
            </div>
        </div>

        <form method="post" action="{{resource}}/comments/">
            <div id="main-wrapper">
                <div id="main" class="container small">
                    <div id="content">
                        <article class="box post">
                            <header>
                                <h2>Esse artigo possui {{commentsNumber}} comentários</h2>
                            </header>

                            {{#approvedComments}}
                                <strong>Comentário escrito por: {{author}}, em <i>{{brazilianDateFormat}}</i></strong><br/>
                                <h4.a>{{content}}</h4.a>
                                <br/><br/>
                            {{/approvedComments}}
                        </article>
                    </div>

                    <br/> <br/> <br/>

                    <div id="main" class="container small">
                        <div id="content">
                            <article class="box post">
                                <h2>Escreva um comentário também...</h2>

                                <section>
                                    <form method="post" action="#">
                                        <div class="row half">
                                            <div class="6u">
                                                <input name="author" placeholder="Nome" type="text"/>
                                            </div>
                                            <div class="6u">
                                                <input name="email" placeholder="E-mail (não visível ao público)" type="text"/>
                                            </div>
                                        </div>
                                        <div class="row half">
                                            <div class="12u">
                                                <textarea name="content" placeholder="Comentário"></textarea>
                                            </div>
                                        </div>
                                        <div class="row half">
                                            <div class="12u">
                                                <a href="#" class="form-button-submit button icon fa-envelope">Enviar
                                                    comentário!</a>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    {{> footer}}
</html>