<!-- Footer -->
<div id="footer-wrapper">
    <div id="footer" class="container small">
        <header>
            <h2>Sobre o autor...</h2>
        </header>
        <br/>
        <div class="row">
            <div class="6u">
                <section>
                    <form method="post" action="#">
                        <div class="row half">
                            <div class="12u">
                                <img src="/images/gabriel.png" alt="" />
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="6u">
                <section>
                    <p>Gabriel Francisco, bacharel em Ciência da Computação, pós graduando em
                        Engenharia de Software Orientada para Serviços na IBTA, analista de sistemas na UOL,
                        blogueiro, com interesses em desenvolvimento de software, ciência, música e informação em geral.</p>
                    <div class="row">
                        <ul class="icons 6u">
                            <li class="icon fa-twitter">
                                <a href="#">@gabrielfss</a>
                            </li>
                            <li class="icon fa-instagram">
                                <a href="#">instagram.com/kcobainnn</a>
                            </li>
                            <li class="icon fa-facebook">
                                <a href="#">facebook.com/gabrielfss</a>
                            </li>
                            <li class="icon fa-linkedin">
                                <a href="#">facebook.com/gabrielfss</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="links">
            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
    <script>
            var editor = CodeMirror.fromTextArea('code', {
              height: "150px",
              path: "/css/codemirror.js",
              textWrapping: true
            });
        </script>
</div>