<!DOCTYPE HTML>
<html>
	{{> header}}

    <body>
			<div id="features-wrapper">
				<section id="features" class="container">
					<header>
						<h2>Últimas postagens</h2>
					</header>

                    <br/>
					<div class="row">

                    {{#articles}}
                        <div class="4u">
                            <!-- Feature -->
                            <section>
                                <!--<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>-->
                                <header>
                                    <h2>{{title}}</h2>
                                </header>

                                {{{preview}}}

                                <ul class="actions">
                                    <li><a href="articles/{{resource}}" class="button icon fa-file">Continue Reading</a></li>
                                </ul>

                                <br/><br/>
                             </section>
                            </div>
                    {{/articles}}
					</div>

					<ul class="actions">
						<li><a href="#" class="button icon fa-file">Ver mais artigos</a></li>
					</ul>
				</section>
			</div>

		<!-- Banner -->
			<div id="banner-wrapper">
				<div class="inner">
					<section id="banner" class="container">
						<p>{{thought}}</p>
					</section>
				</div>
			</div>
    </body>

    {{> footer}}
</html>